.instructions {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem
}

.instructions span {
  text-decoration: underline;
}

.instructions span:hover {
  cursor: pointer;
}

.empty {
  height: 100vh
}