.home__container {
  composes: home__container from "../../App.module.css";
}

.home__description {
  composes: home__description from "../../App.module.css";
}

.home__description ul {
  margin-left: 4rem
}