.card {
  font-size: 6rem;
  width: 400px;
  height: 150px;
  composes: btn--green from "../../App.module.css";
  background-color: var(--github-green-1);
  border-radius: 5px;
  margin: 1rem 0;
  composes: flex--col from "../../App.module.css";
  opacity: 0;
  transition: .5s;
}

.card--show {
  transform: translateX(0px);
  opacity: 1
}