.card {
  font-size: 6rem;
  width: 400px;
  height: 150px;
  background-color: var(--color-4-300);
  /* border: 1px solid black; */
  box-shadow: var(--box-shadow-secondary);
  border-radius: 5px;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(500px);
  opacity: 0;
  transition: 1s;
}

.card--show {
  transform: translateX(0px);
  opacity: 1
}