.io-container {
  composes: flex--col from "../../App.module.css";
  margin-top: 2rem;
  color: var(--github-green-10);
}

.instructions {
  composes: flex--row from "../../App.module.css";
  margin-top: 2rem;
  justify-content: center;
  gap: 1rem
}

.instructions--underline {
  text-decoration: underline;
}

.instructions--underline:hover {
  cursor: pointer;
}

.empty-space {
  height: 100vh
}

.footer {
  composes: flex--row from "../../App.module.css";
  justify-content: flex-end;
  gap: 0;
  margin-bottom: 1rem;
  width: 100vw
}

.footer__button {
  height: 4.2rem;
  width: 4.2rem;
  margin-right: 2rem;
  border-radius: 50%;
  color: var(--github-blue-8);
  border: 1px solid var(--github-blue-8);
  background-color: var(--github-blue-1);
  transition: all .25s
}

.footer__button:hover {
  cursor: pointer;
  border-width: 2px;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 5px;
}

.footer__icon {
  width: 2rem;
  height: 100%;
  stroke: var(--github-blue-8);
  fill: var(--github-blue-6);
  stroke-width: 1.6rem;
}

.footer__icon:hover {
  stroke-width: 2.6rem;
}