.home__btn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: .5rem 1rem;
  z-index: 3;
  font-size: 2rem;
  color: var(--github-blue-7);
  border-radius: 5px;
  background-color: var(--github-white);
  border: 1px solid var(--github-blue-2);
  transition: .5s
}

.home__btn:hover {
  font-size: 2.2rem;
}

.home__btn--active {
  composes: link--active from "../../App.module.css";
}

.header {
  composes: flex--col from "../../App.module.css";
  background-color: var(--github-blue-1);
  border-bottom: 1px solid var(--github-blue-2);
}

.nav-list {
  composes: flex--row from "../../App.module.css";

}

.nav-item {
  composes: animation--shake from "../../App.module.css";
}

.nav-item--title {
  composes: nav-item;
  color: var(--github-blue-7);
  padding-bottom: 1rem
}

.nav-item--link {
  composes: nav-item;
  padding: .6rem 1.2rem;
  border-radius: 5px;
}

.nav-item--active {
  composes: link--active from "../../App.module.css"
}

.nav-item--link--green {
  composes: nav-item--link;
  composes: btn--green from "../../App.module.css";
}

.nav-item--link--yellow {
  composes: nav-item--link;
  composes: btn--yellow from "../../App.module.css";
}

.nav-item--link--orange {
  composes: nav-item--link;
  composes: btn--orange from "../../App.module.css";
}

.nav-item--link--red {
  composes: nav-item--link;
  composes: btn--red from "../../App.module.css";
}

.nav-item--link--pink {
  composes: nav-item--link;
  composes: btn--pink from "../../App.module.css";
}

.nav-item--link--violet {
  composes: nav-item--link;
  composes: btn--violet from "../../App.module.css";
}