.home__btn {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 3;
  font-size: 2rem;
}

.home__btn a {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--github-white);
  box-shadow: var(--shadow-small);
  transition: 0.5s
}

.home__btn a:hover {
  font-size: 2.2rem;
}

.home__btn--active {
  composes: link--active from "../../App.module.css"
}