@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;600;700&display=swap');

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-100: #e6e6e6;
  --color-gray-150: #DBDBDB;
  --color-gray-200: #cccccc;
  --color-gray-300: #b3b3b3;
  --color-gray-400: #999999;
  --color-gray-500: #808080;
  --color-gray-600: #666666;
  --color-gray-700: #4d4d4d;
  --color-gray-800: #333333;
  --color-gray-900: #1a1a1a;

  --color-1-300: #7bdff2;
  --color-1-100: #95e5f5;
  --color-1-500: #6fc9da;

  --color-2-300: #b2f7ef;
  --color-2-100: #d1faf5;
  --color-2-200: #b2f7ef;
  --color-2-500: #a0ded7;
  --color-2-700: #7dada7;

  --color-3-300: #eff7f6;
  --color-3-100: #f2f9f8;
  --color-3-500: #d7dedd;

  --color-4-300: #f7d6e0;
  --color-4-100: #f9dee6;
  --color-4-500: #dec1ca;

  --color-5-300: #f2b5d4;
  --color-5-100: #f2b5d4;
  --color-5-500: #daa3bf;

  --box-shadow-primary: 0 1px 5px rgba(0, 0, 0, 0.3);
  --box-shadow-secondary: 0 2px 6px rgba(0, 0, 0, 0.4)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* this makes it that 1rem == 10px */
  overflow-x: hidden;
}

body {
  font-family: 'Grandstander', sans-serif;
  font-weight: 500;
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem
}

h3 {
  font-size: 2.6rem;
  font-weight: 400;
}

p, span, div, section, ul, ol {
  font-size: 2.4rem;
  font-weight: 400;
}